html
{
    height: 100%;
}
body
{
	background: url("seamlessPattern.png");
	background-repeat: repeat;
	height: 100%;
    
    
}
hr
{
    height: 1px;
    background-color: #f65819;
    border:  #f65819;
    width: 100%;
}

.tenpxtop
{
	margin-top:10px;
}
.labelspace
{
	margin-left:10px;
}


/*    NAVIGATION STYLING    */
.body
{
	font-size:12px;
}
li:hover
{
    background-color: #f65819;   
}
.navbar-inverse
{  
	background-color: #263238;
	border-radius: 0px;
	border-color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: #f65819;
}

.navbar-inverse .navbar-nav>.open>a:hover
{
	color: black;
	background-color: white;
	
}
.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header
{
	border-color: black;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover
{
	color:black; background-color:white;
}
.navbar-inverse .navbar-toggle .icon-bar
{
    background-color: white;
    
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
	background-color: black;
}


/*    PRODUCT ELEMENT STYLING   */
.title
{
    padding: 2px;
    margin-left: 10px;
}
/* Marquee */

.marquee
{
	
	position:fixed;
	top:60px;
}

/*    SEARCH BOX STYLING    */

.logobtn{
	background:none;
}
.SearchIcon
{
    color:#fff;  
}
.SearchButton
{
    background-color:#263238;
    border-radius:1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.SearchButton:hover{
    background-color:#263238;
}

.SearchBar{
width: 100%;

}

/*	BOTTOM NAVIGATION BAR	*/
.bottomnav
{
	width: 100%;
	bottom: 0px;
	position:fixed;
	background-color:#263238;
	height: auto;
	z-index: 99;
	color: #f65819;
}


/* HEADER STYLING */



/*  FOOTER STYLING    */








/* SOCIAL ICON STYLING */
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     color: #f65819;
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
     -o-transition-duration: 0.1s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 
/*  SCROLL BAR CSS */


::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f65819;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #263238;
}
::-webkit-scrollbar-thumb:active {
  background: #f65819;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* MEGA MENU STYLING  */


.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  background-color: white;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
mega-dropdown-menu .dropdown-header : hover {
  background-color: none;
}

.carousel-control2 {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control2 {
  right: 30px;
  left: inherit;
}
.carousel-control2 .glyphicon-chevron-left, 
.carousel-control2 .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}